:root {
    /* CSS HEX */
    --black: #000000ff;
    --dim-gray: #66666eff;
    --taupe-gray: #9999a1ff;
    --platinum: #e6e6e9ff;
    --antiflash-white: #f4f4f6ff;
}

// Overide default colours
$dark: #000000ff; // --black
$primary: #66666eff; // --dim-gray
$secondary: #9999a1ff; // --taupe-gray
$info: #e6e6e9ff; // --platinum
$light: #f4f4f6ff; //--antiflash-white

// Import Bootstrap’s source files
@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: var(--antiflash-white);
    color: var(--black);
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden; /* Hide horizontal overflow */
}

.page-content {
    margin-left: 250px; /* Same as the width of the sidebar */
}

#side-bar {
    background-color: var(--black);
    color: var(--antiflash-white);
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* Sidebar list */
.a-s {
    color: var(--antiflash-white);
}

.a-s:hover {
    color: var(--dim-gray);
}

#side-bar .nav-item {
    font-size: x-large;
}

/* Log Out link */
.logout-link {
    font-size: smaller; 
    bottom: 0;
}

/* Remove Asterisk for required fields in forms */
.asteriskField {
    display: none;
}

/* Unstyle links */
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

/* Ensure that the content on the index page is centered within its page-content div */
#index-welcome-nouser {
    height: 100%;
}

