:root {
    /* CSS HEX */
    --black: #000000ff;
    --dim-gray: #66666eff;
    --taupe-gray: #9999a1ff;
    --platinum: #e6e6e9ff;
    --antiflash-white: #f4f4f6ff;
}

// Overide default colours
$dark: #000000ff; // --black
$primary: #66666eff; // --dim-gray
$secondary: #9999a1ff; // --taupe-gray
$info: #e6e6e9ff; // --platinum
$light: #f4f4f6ff; //--antiflash-white

// Import Bootstrap’s source files
@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: var(--antiflash-white);
    color: var(--black);
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden; /* Hide horizontal overflow */
}

.page-content {
    margin-left: 250px; /* Same as the width of the sidebar */
}

#side-bar {
    background-color: var(--black);
    color: var(--antiflash-white);
    height: 100%;
    min-width: 250px;
    max-width: 250px;
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

/* Sidebar list */
.a-s {
    color: var(--antiflash-white);
}

.a-s:hover {
    color: var(--dim-gray);
}

#side-bar .nav-item {
    font-size: x-large;
}

/* Log Out link */
.logout-link {
    font-size: smaller; 
    bottom: 0;
}

/* Remove Asterisk for required fields in forms */
.asteriskField {
    display: none;
}

/* Unstyle links */
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}

/* Ensure that the content on the index page is centered within its page-content div */
#index-welcome-nouser {
    height: 100%;
}

/* Zone 0 background colour (Gray) */
.bg-grad-0 {
    background-color: rgba(211, 211, 211, 0.5);
}

/* Zone 1 background colour (Blue) */
.bg-grad-1 {
    background-color: rgba(0, 191, 255, 0.3);
}

/* Zone 2 and 6 background color (Green) */
.bg-grad-2, .bg-grad-6 {
    background-color: rgba(144, 238, 144, 0.5);
}

/* Zone 3 and 4 background color (Orange) */
.bg-grad-3, .bg-grad-4 {
    background-color: rgba(247, 149, 72, 0.5);
}

/* Zone 5 background color (Red) */
.bg-grad-5 {
    background-color: rgba(255, 99, 71, 0.5);
}

/* Marathon day */
.bg-grad-9 {
    background-color: rgba(255, 215, 0, 0.5);
}

.upcm-run {
    width: 40%;
}

// Form for editing the values
.form-control-info-bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    overflow: hidden;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    min-height: 35px !important;
    max-height: 35px !important;
    max-width: 25%;
    text-align: center !important;
}

// Go to top button for scheduled and completed runs
.goto-top {
    display: none; /* Hidden by default */
    border-color: var(--black) ;
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
}

.goto-top:hover {
    border-color: var(--black);
}

