{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>Marathon Mentor</title>
        {% endblock %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <!-- favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    </head>
    <body>
        {% block body %}
        {% endblock %}

        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
