{% extends "training_plan/navbar_layout.html" %}
{% load custom_filters %}
{% load static %}

{% block body %}

    <div class="page-content" style="overflow-y: hidden;">
        <!-- If the user is looged in -->
        {% if user.is_authenticated %}
        <div class="d-flex justify-content-around mt-3 align-items-center">
            <div>
                <h5 class="display-5">Good {{ greeting }}, {{ user.first_name }}</h5>
            </div>
            <div class="flex-row align-items-center text-center">
                <div id="marathon-date" class="mb-2"><h5> Date: {{ today|date:"jS F Y" }}</h5></div> 
                <div id="marathon-date" class="mb-2"><h5> Marathon Date: {{ plan.end_date|date:"jS F Y" }}</h5></div> 
                <div id="days-to-go" class="mb-2 {% if days_to_go <= 30 %}text-success{% elif days_to_go <= 90 %}text-warning{% endif %}">
                    <h5>Days to go: {{ days_to_go }}</h5>
                </div>
            </div>
        </div>

        {% if plan %}
        <hr class="mx-5">

        <!-- Today's run -->
        <div id="todays-run" class="mx-5 my-4 p-2 containter bg-white border border-secondary rounded flex-row">
            <div class="d-flex justify-content-between">
                <span><h6 class="display-6"> Today's Workout - {{ todays_run.run }} </h6></span>
                <span><h6 class="display-6"><small class="text-body-secondary">{{ todays_run.date|date:"jS F" }}</small></h6></span>
            </div>
            <div class="m-1">
                <p class="lead"> {{ todays_run.run_feel }}</p>
            </div>
            <!-- Three conditions to display the data 1) if it's a distance based run, 2) if it's an interval run, 3) else it's a rest day -->
            {% if todays_run.distance %} <!-- Distance based run -->
            <div class="m-1 hstack gap-3 fs-5">
                <div class="m-auto">Distance: {{ todays_run.distance }}km</div>
                <div class="vr"></div>
                <div class="m-auto">Estimated Duration: {{ todays_run.est_duration }} minutes</div>
                <div class="vr"></div>
                <div class="m-auto">Estimated Pace: {{ todays_run.est_avg_pace|format_timedelta }}</div>
            </div>
            {% elif todays_run.sets %} <!-- Interval based run -->
            <div class="m-1 hstack gap-3 fs-5">
                <div class="m-auto">Working time: {{ todays_run.on }} minutes</div>
                <div class="vr"></div>
                <div class="m-auto">Rest time: {{ todays_run.off }} minutes</div>
                <div class="vr"></div>
                <div class="m-auto">Sets: {{ todays_run.sets }}</div>
                <div class="vr"></div>
                <div class="m-auto">Estimated Pace: {{ todays_run.est_avg_pace|format_timedelta }}</div>
            </div>
            {% else %}
            <div class="m-1 hstack gap-3 fs-5">
                Enjoy your rest day
            </div>
            {% endif %}
        </div>
        <div id="root-mark-complete" class="d-flex justify-content-end mx-5"></div>

        <hr class="mx-5">
        <!-- Upcoming runs -->

        <div class="mx-5"><h6 class="display-6">Upcomming Runs </h6></div>

        <div class="d-flex justify-content-between">
            {% for run in next_runs %}
            <div id="{{ run.id }}-upcomming-run-{{ run.dict_id }}" class="upcm-run mx-5 my-2 p-2 containter bg-white border border-secondary rounded">
                <div class="d-flex justify-content-between">
                <span><h5>{{ run.run }}</h5></span>
                <span><h5><small class="text-body-secondary">{{ run.date|date:"d/m/y" }}</small></h5></span>
                </div>

                {% if run.distance %} <!-- Distance based run -->
                <div class="m-auto">Distance: {{ run.distance }}km</div>
                <div class="m-auto">Estimated Duration: {{ run.est_duration }} minutes</div>

                {% elif run.sets %} <!-- Interval based run -->
                <div class="m-auto">Working time: {{ run.on }} minutes</div>
                <div class="m-auto">Rest time: {{ run.off }} minutes</div>
                <div class="m-auto">Sets: {{ run.sets }}</div>

                {% else %} <!-- Rest day -->
                <div class="m-auto">Rest day</div> 

                {% endif %}

            </div>
            {% endfor %}
            
        </div>

            {% else %}
            TODO - if no marathon plan
            {% endif %}
            
        {% else %}

        <!-- Default page if the user isn't logged in -->
        <div class="text-center" style="overflow: hidden">

            <div class="row justify-content-md-center">
                <div class="col">
                    <h2 class="display-2"> Welcome to Marathon Mentor!</h2>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-auto">
                    <img src="{% static 'images/logo_light.png' %}" alt="Marathon Mentor Logo" width="300px" height="300px"> 
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <p class="fs-3">Unlock Your Marathon Potential with our Free Training App: Personalized Plans and Progress Tracking for Marathon Runners!</p>
                    <a href="{% url 'register' %}" class="btn btn-dark btn-lg" role="button">Register now!</a>
                </div>
            </div>
        </div>
            {% endif %}
        </div>
<!-- Load js file for this template -->

<script>
    let runDictId = {{ todays_run.dict_id|escapejs }};
    let upCommingRunsIds = [{{ next_runs.0.id|escapejs }}, {{ next_runs.1.id|escapejs }}, {{ next_runs.2.id|escapejs }}];
    let upCommingRunsDictIds = [{{ next_runs.0.dict_id|escapejs }}, {{ next_runs.1.dict_id|escapejs }}, {{ next_runs.2.dict_id|escapejs }}];
</script>
<script src="{% static 'js/index.js' %}"></script>

{% endblock %}
