{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>Marathon Mentor</title>
        {% endblock %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <!-- favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    </head>
    <body>
        <!-- Code for the side-bar -->
        <div class="sidebar text-center" id="side-bar">
            <a href="{% url 'index' %}" class="link-unstyled"> <!-- Make the logo clickable -->
                <h5 class="display-5">Marathon</h5>
                <div class="d-inline-flex justify-content-around">
                    <h5 class="display-5 me-2">Mentor</h5> 
                    <img class="ms-2" src="{% static 'images/logo_dark.png' %}" alt="Marathon Mentor Logo" width="60px" height="60px"> 
                </div>
            </a>
            <ul class="nav nav-pills flex-column mt-2 mb-auto">
                {% if user.is_authenticated %}

                <li class="nav-item mb-2">
                    <a href="{% url 'index' %}" id="nav-home" class="nav-link m-2 a-s">Home</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'scheduled-runs' %}" id="nav-calendar" class="nav-link m-2 a-s">Scheduled Runs</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" id="nav-completed-runs" class="nav-link m-2 a-s">Completed Runs</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" id="nav-settings" class="nav-link m-2 a-s">Settings</a>
                </li>
                <div class="d-flex justify-content-center mt-5">
                    <li class="nav-item mb-2">
                        <a href="{% url 'logout' %}" id="nav-logout" class="nav-link m-2 logout-link a-s">Log Out</a>
                    </li>
                </div>

                {% else %}

                <li class="nav-item mb-2">
                    <a href="{% url 'register' %}" id="nav-register" class="nav-link m-2 a-s">Register</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="{% url 'login' %}" id="nav-login" class="nav-link m-2 a-s">Log In</a>
                </li>
                {% endif %}

            </ul>
        </div>

        <!-- Code for the main content of the page -->
        {% block body %}
        {% endblock %}
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
