{% extends "training_plan/navbar_layout.html" %}
{% load custom_filters %}
{% load static %}

{% block head %}
    <title>Scheduled Runs</title>
{% endblock %}

{% block body %}

    <div class="page-content">
        <div class="mt-3 text-center">
            <h5 class="display-5">Scheduled Runs</h5>
            <hr class="mx-5">
        </div>

        <!-- div to hold all the runs -->
        <div id="scheduled-runs-container" class="mx-5"></div>

        <button onclick="topFunction()" class="btn btn-secondary goto-top" id="scheduled-top-btn" title="Go to top">Go To Top</button>

    </div>

<script src="{% static 'js/scheduledRuns.js' %}"></script>

{% endblock %}
